body{
    background: black;
    color:white;
    padding: 100px;
}
div{
    margin:10px;
}
.btnStyle{
    display: inline-block;
}
#gMap>p{
    font-size: 30px;
    display: inline-block;
    padding-left: 2px;
}
.btnLeft, .btnRight{
    display: inline-block;
    color: greenyellow;
    background-color: #000000;
    border:0;
}
.btnLeft:hover,.btnRight:hover{
    color: green;
    cursor: pointer;
    
}
img{
    padding: 20px;
    width: 20%;
    height: 20%;
}

#treuser, #lvlTreuser{
    display: inline-block;
}